<link rel="stylesheet" type="text/css" href="__ADMIN__/css/bootstrap.min.css" media="all">
<style>
.mb30 {

    margin-bottom: 30px;

}
.oh {

    overflow: hidden;

}
.app-item:hover {

    -webkit-box-shadow: 0px 10px 20px rgba(226,226,226,.8);
    box-shadow: 0px 10px 20px rgba(226,226,226,.8);
    -webkit-transform: translate3d(0,-10px,0);
    -moz-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-1px,0);
    z-index: 4;

}
.app-item {

    border: 1px solid #f0f0f0;
    padding: 10px 12px;
    border-radius: 3px;
    margin: 10px 0;
    height: 135px;

}
.app-item .item-logo {

    padding-left: 0;
    padding-right: 0;
    height: 70px;
    line-height: 70px;
    overflow: hidden;

}
a {

    color: #3c8dbc;

}
.app-item .app-logo {

    max-width: 100%;
    max-height: 65px;

}
.pr-0 {

    padding-right: 0px !important;

}
.app-item h4 {

    font-size: 16px;
    color: #666;

}
.color-red {

    color: #E74C3C;

}
.fr {

    float: right;
    display: inline;

}
.f12 {

    font-size: 12px !important;

}
.app-item .item-desc {

    font-size: 14px;
    color: #777;
    height: 40px;

}
.w {

    width: 100%;

}
.oh {

    overflow: hidden;

}
.app-item label.label, .theme-item label.label {

    display: block;
    font-size: 12px;
    color: #808080;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    background: #f4f4f4;
    border-radius: 4px;
    float: left;
    margin-right: 12px;

}
.color-8 {

    color: #888;

}
.fr {

    float: right;
    display: inline;

}
.f13 {

    font-size: 13px;

}
</style>
<div class="opus-items opus-plugins oh mb30">
  <div class="col-sm-4 col-xs-12 extension-item">
    <div class="app-item">
      <div class="col-sm-3 col-xs-3 item-logo"><a href="/appstore_plugin/ossStorage"><img src="https://cdn.eacoo.xin/attachment/appstore/plugins/logo_ossStorage.png" class="plugin-logo app-logo"></a></div>
      <div class="col-sm-9 col-xs-9 pr-0"><a href="/appstore_plugin/ossStorage">
        <h4>OSS对象存储<span class="fr color-red f12">免费</span></h4>
        </a>
        <p class="item-desc">实现阿里云OSS对象存储，管理附件</p>
      </div>
      <p class="oh w">
        <label class="label label-default">模块</label>
        <span class="fr color-8 f13"><i class="layui-icon layui-icon-rate-solid" style="font-size: 15px; color: #1E9FFF;"></i> 533</span></p>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12 extension-item">
    <div class="app-item">
      <div class="col-sm-3 col-xs-3 item-logo"><a href="/appstore_plugin/regionManager"><img src="https://cdn.eacoo.xin/attachment/appstore/plugins/logo_regionManager.jpeg" class="plugin-logo app-logo"></a></div>
      <div class="col-sm-9 col-xs-9 pr-0"><a href="/appstore_plugin/regionManager">
        <h4>地区管家<span class="fr color-red f12">¥9.90</span></h4>
        </a>
        <p class="item-desc">支持地区管理，内置地区三级联动组件</p>
      </div>
      <p class="oh w">
        <label class="label label-default">模块</label>
        <span class="fr color-8 f13"><i class="layui-icon layui-icon-rate-solid" style="font-size: 15px; color: #1E9FFF;"></i> 69</span></p>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12 extension-item">
    <div class="app-item">
      <div class="col-sm-3 col-xs-3 item-logo"><a href="/appstore_plugin/comment"><img src="https://cdn.eacoo.xin/attachment/appstore/plugins/logo_comment.png" class="plugin-logo app-logo"></a></div>
      <div class="col-sm-9 col-xs-9 pr-0"><a href="/appstore_plugin/comment">
        <h4>本地评论<span class="fr color-red f12">¥39.00</span></h4>
        </a>
        <p class="item-desc">实现本地评论功能，支持评论点赞</p>
      </div>
      <p class="oh w">
        <label class="label label-default">模块</label>
        <span class="fr color-8 f13"><i class="layui-icon layui-icon-rate-solid" style="font-size: 15px; color: #1E9FFF;"></i> 28</span></p>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12 extension-item">
    <div class="app-item">
      <div class="col-sm-3 col-xs-3 item-logo"><a href="/appstore_plugin/Alisms"><img src="https://cdn.eacoo.xin/attachment/appstore/plugins/logo_Alisms.jpeg" class="plugin-logo app-logo"></a></div>
      <div class="col-sm-9 col-xs-9 pr-0"><a href="/appstore_plugin/Alisms">
        <h4>阿里短信SMS<span class="fr color-red f12">免费</span></h4>
        </a>
        <p class="item-desc">通过阿里短信接口发送短信</p>
      </div>
      <p class="oh w">
        <label class="label label-default">模块</label>
        <span class="fr color-8 f13"><i class="layui-icon layui-icon-rate-solid" style="font-size: 15px; color: #1E9FFF;"></i> 340</span></p>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12 extension-item">
    <div class="app-item">
      <div class="col-sm-3 col-xs-3 item-logo"><a href="/appstore_plugin/userTools"><img src="https://cdn.eacoo.xin/attachment/appstore/plugins/userTools.svg" class="plugin-logo app-logo"></a></div>
      <div class="col-sm-9 col-xs-9 pr-0"><a href="/appstore_plugin/userTools">
        <h4>用户工具<span class="fr color-red f12">免费</span></h4>
        </a>
        <p class="item-desc">用户后台增强工具</p>
      </div>
      <p class="oh w">
        <label class="label label-default">模块</label>
        <span class="fr color-8 f13"><i class="layui-icon layui-icon-rate-solid" style="font-size: 15px; color: #1E9FFF;"></i> 389</span></p>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12 extension-item">
            <div class="app-item">
              <div class="col-sm-3 col-xs-3 item-logo"><a href="/appstore_plugin/wxpay"><img src="https://cdn.eacoo.xin/attachment/appstore/plugins/logo_wxpay.png?v=0.1" class="plugin-logo app-logo"></a></div>
            <div class="col-sm-9 col-xs-9 pr-0"><a href="/appstore_plugin/wxpay"><h4>微信支付<span class="fr color-red f12">¥39.90</span></h4></a>
            <p class="item-desc">集成微信支付，包括扫码支付、JSSDK支付、APP支付等</p>
          </div>
            <p class="oh w"><label class="label label-default">插件</label><span class="fr color-8 f13"><i class="layui-icon layui-icon-rate-solid" style="font-size: 15px; color: #1E9FFF;"></i> 57</span></p>
            </div>
            
          </div>
		  <div class="col-sm-4 col-xs-12 extension-item">
            <div class="app-item">
              <div class="col-sm-3 col-xs-3 item-logo"><a href="/appstore_plugin/alipayWap"><img src="https://cdn.eacoo.xin/attachment/appstore/plugins/alipay_logo.jpg" class="plugin-logo app-logo"></a></div>
            <div class="col-sm-9 col-xs-9 pr-0"><a href="/appstore_plugin/alipayWap"><h4>支付宝(wap)<span class="fr color-red f12">¥39.00</span></h4></a>
            <p class="item-desc">集成支付宝支付wap版，附带案例</p>
          </div>
            <p class="oh w"><label class="label label-default">插件</label><span class="fr color-8 f13"><i class="layui-icon layui-icon-rate-solid" style="font-size: 15px; color: #1E9FFF;"></i> 22</span></p>
            </div>
            
          </div>
		  <div class="col-sm-4 col-xs-12 extension-item">
            <div class="app-item">
              <div class="col-sm-3 col-xs-3 item-logo"><a href="/appstore_plugin/ImageGallery"><img src="https://cdn.eacoo.xin/attachment/appstore/plugins/logo_ImageGallery.svg" class="plugin-logo app-logo"></a></div>
            <div class="col-sm-9 col-xs-9 pr-0"><a href="/appstore_plugin/ImageGallery"><h4>幻灯片<span class="fr color-red f12">免费</span></h4></a>
            <p class="item-desc">图片轮播滑块器，可用于图片展示</p>
          </div>
            <p class="oh w"><label class="label label-default">插件</label><span class="fr color-8 f13"><i class="layui-icon layui-icon-rate-solid" style="font-size: 15px; color: #1E9FFF;"></i> 418</span></p>
            </div>
            
          </div>
		  <div class="col-sm-4 col-xs-12 extension-item">
            <div class="app-item">
              <div class="col-sm-3 col-xs-3 item-logo"><a href="/appstore_plugin/message"><img src="https://cdn.eacoo.xin/attachment/appstore/plugins/logo_message.jpeg" class="plugin-logo app-logo"></a></div>
            <div class="col-sm-9 col-xs-9 pr-0"><a href="/appstore_plugin/message"><h4>站内信<span class="fr color-red f12">免费</span></h4></a>
            <p class="item-desc">简单实现站内信，我的消息。</p>
          </div>
            <p class="oh w"><label class="label label-default">插件</label><span class="fr color-8 f13"><i class="layui-icon layui-icon-rate-solid" style="font-size: 15px; color: #1E9FFF;"></i> 464</span></p>
            </div>
            
          </div>
		  <div class="col-sm-4 col-xs-12 extension-item">
            <div class="app-item">
              <div class="col-sm-3 col-xs-3 item-logo"><a href="/appstore_plugin/ThirdLogin"><img src="https://cdn.eacoo.xin/attachment/appstore/plugins/logo_ThirdLogin.svg" class="plugin-logo app-logo"></a></div>
            <div class="col-sm-9 col-xs-9 pr-0"><a href="/appstore_plugin/ThirdLogin"><h4>第三方账号登录<span class="fr color-red f12">免费</span></h4></a>
            <p class="item-desc">集成第三方授权登录，包括微博、QQ、微信</p>
          </div>
            <p class="oh w"><label class="label label-default">插件</label><span class="fr color-8 f13"><i class="layui-icon layui-icon-rate-solid" style="font-size: 15px; color: #1E9FFF;"></i> 450</span></p>
            </div>
            
          </div>
		  <div class="col-sm-4 col-xs-12 extension-item">
            <div class="app-item">
              <div class="col-sm-3 col-xs-3 item-logo"><a href="/appstore_plugin/smtp"><img src="https://cdn.eacoo.xin/attachment/appstore/plugins/logo_smtp.jpeg" class="plugin-logo app-logo"></a></div>
            <div class="col-sm-9 col-xs-9 pr-0"><a href="/appstore_plugin/smtp"><h4>SMTP<span class="fr color-red f12">免费</span></h4></a>
            <p class="item-desc">让系统支持smtp发送邮件</p>
          </div>
            <p class="oh w"><label class="label label-default">插件</label><span class="fr color-8 f13"><i class="layui-icon layui-icon-rate-solid" style="font-size: 15px; color: #1E9FFF;"></i> 229</span></p>
            </div>
            
          </div>
		  <div class="col-sm-4 col-xs-12 extension-item">
            <div class="app-item">
              <div class="col-sm-3 col-xs-3 item-logo"><a href="/appstore_plugin/Picturebox"><img src="https://cdn.eacoo.xin/attachment/appstore/plugins/logo_Picturebox.jpg" class="plugin-logo app-logo"></a></div>
            <div class="col-sm-9 col-xs-9 pr-0"><a href="/appstore_plugin/Picturebox"><h4>图片盒子<span class="fr color-red f12">免费</span></h4></a>
            <p class="item-desc">主要用作于发布美图、写真、产品图。多种展示模式。</p>
          </div>
            <p class="oh w"><label class="label label-default">插件</label><span class="fr color-8 f13"><i class="layui-icon layui-icon-rate-solid" style="font-size: 15px; color: #1E9FFF;"></i> 220</span></p>
            </div>
            
          </div>
		  
		  <div class="col-sm-4 col-xs-12 extension-item">
            <div class="app-item">
              <div class="col-sm-3 col-xs-3 item-logo"><a href="/appstore_plugin/qiniuoss"><img src="https://cdn.eacoo.xin/attachment/appstore/plugins/qiniuoss.png" class="plugin-logo app-logo"></a></div>
            <div class="col-sm-9 col-xs-9 pr-0"><a href="/appstore_plugin/qiniuoss"><h4>七牛云储存<span class="fr color-red f12">免费</span></h4></a>
            <p class="item-desc">实现七牛云存储，管理附件</p>
          </div>
            <p class="oh w"><label class="label label-default">插件</label><span class="fr color-8 f13"><i class="layui-icon layui-icon-rate-solid" style="font-size: 15px; color: #1E9FFF;"></i> 118</span></p>
            </div>
            
          </div>
		  <div class="col-sm-4 col-xs-12 extension-item">
            <div class="app-item">
              <div class="col-sm-3 col-xs-3 item-logo"><a href="/appstore_plugin/OnlineUpdate"><img src="https://cdn.eacoo.xin/attachment/appstore/plugins/OnlineUpdate.jpg" class="plugin-logo app-logo"></a></div>
            <div class="col-sm-9 col-xs-9 pr-0"><a href="/appstore_plugin/OnlineUpdate"><h4>在线更新<span class="fr color-red f12">免费</span></h4></a>
            <p class="item-desc">框架在线更新插件</p>
          </div>
            <p class="oh w"><label class="label label-default">插件</label><span class="fr color-8 f13"><i class="layui-icon layui-icon-rate-solid" style="font-size: 15px; color: #1E9FFF;"></i> 106</span></p>
            </div>
            
          </div>
		  <div class="col-sm-4 col-xs-12 extension-item">
            <div class="app-item">
              <div class="col-sm-3 col-xs-3 item-logo"><a href="/appstore_plugin/Phpspreadsheet"><img src="https://cdn.eacoo.xin/attachment/appstore/plugins/Phpspreadsheet.png" class="plugin-logo app-logo"></a></div>
            <div class="col-sm-9 col-xs-9 pr-0"><a href="/appstore_plugin/Phpspreadsheet"><h4>表格导入导出<span class="fr color-red f12">免费</span></h4></a>
            <p class="item-desc">用于表格数据的导入和导出</p>
          </div>
            <p class="oh w"><label class="label label-default">插件</label><span class="fr color-8 f13"><i class="layui-icon layui-icon-rate-solid" style="font-size: 15px; color: #1E9FFF;"></i> 45</span></p>
            </div>
            
          </div>
		  <div class="col-sm-4 col-xs-12 extension-item">
            <div class="app-item">
              <div class="col-sm-3 col-xs-3 item-logo"><a href="/appstore_plugin/KeyWordsFiltration"><img src="https://cdn.eacoo.xin/attachment/appstore/plugins/KeyWordsFiltration_logo.jpg" class="plugin-logo app-logo"></a></div>
            <div class="col-sm-9 col-xs-9 pr-0"><a href="/appstore_plugin/KeyWordsFiltration"><h4>关键字过滤<span class="fr color-red f12">免费</span></h4></a>
            <p class="item-desc">过滤替换关键字</p>
          </div>
            <p class="oh w"><label class="label label-default">插件</label><span class="fr color-8 f13"><i class="layui-icon layui-icon-rate-solid" style="font-size: 15px; color: #1E9FFF;"></i> 65</span></p>
            </div>
            
          </div>
</div>
