{extend name="public/base"/}
{block name="main"}
<h2 class="text-center">完成</h2>
<div class="row">
	<div class="col-sm-6">
		<ul class="list-group">
			<li class="list-group-item"><a href="http://www.rxthink.cn/" target="_blank">RXThinkCMF官网</a></li>
			<li class="list-group-item"><a href="https://gitee.com/ruoxi520_admin/RXThinkCMF_TP5.1" target="_blank">RXThinkCMF版本库</a></li>
		</ul>
	</div>
	<div class="col-sm-6">
		<ul class="list-group">
			<li class="list-group-item"><a href="http://docs.tp5.1.rxthink.cn/" target="_blank">RXThinkCMF开发文档</a></li>
			<li class="list-group-item"><a href="http://www.rxthink.cn/" target="_blank">RXThinkCMF交流社区</a></li>
		</ul>
	</div>
</div>
<div class="row text-center">
	<h2>加入官方讨论群</h2>
	<p>QQ群：262206078</p>
	<div class="col-sm-12 ">
		<img src="http://images.tp3.2.rxthink.cn/demo/qq.png" title="" alt="官方交流群">
	</div>
</div>
<hr>
<div class="margin-top">
	<div class="text-center">
	    <a class="btn btn-primary" target="_blank" href="{:MAIN_URL}">登录后台</a>
	    <a class="btn btn-success" target="_blank" href="{:SITE_URL}/">访问首页</a>
	</div>
</div>
{/block}