{if $button_type eq 1}
<div class="layui-form-item layui-layout-admin">
	<div class="layui-input-block">
		<div class="layui-footer" style="left:0;">
			{if isset($button_submit)}
			<button class="layui-btn" lay-submit="" lay-filter="submitForm" id="submitForm">{$button_submit_title}</button>
			{/if}
			{if isset($button_reset)}
			<button type="reset" class="layui-btn layui-btn-primary">{$button_reset_title}</button>
			{/if}
			{if isset($button_close)}
			<button type="button" class="layui-btn layui-btn-normal closeWin">{$button_close_title}</button>
			{/if}
		</div>
	</div>
</div>
{else}
<div class="layui-form-item">
	<div class="layui-input-block">
		{if isset($button_submit)}
		<button class="layui-btn" lay-submit="" lay-filter="submitForm" id="submitForm">{$button_submit_title}</button>
		{/if}
		{if isset($button_reset)}
		<button type="reset" class="layui-btn layui-btn-primary">{$button_reset_title}</button>
		{/if}
		{if isset($button_close)}
			<button type="button" class="layui-btn layui-btn-normal closeWin">{$button_close_title}</button>
		{/if}
	</div>
</div>
{/if}